.borde {
    border: solid peru;
}

.container-fluid {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: peru;
}

h1 {
    color: plum;
    background-color: bisque;
    text-align: center;
}

h2 {
    color: palevioletred;
}

ol {
    background-color: beige;
    width: 30%;
    font-size: 18px;
}

.lista {
    background-color: coral;
}

.parrafo {
    background-color: goldenrod;

}