
.box{
    background-color: bisque;
    border: 3px solid rgb(105, 48, 105);
    width: auto;   
    height: auto;
    margin: 50px;
    margin-top: 5px;
    padding-left: 4px;
}
.boxCabecera{
    font-family: 'Times New Roman', Times, serif;
    color: palevioletred;
    font-size: 30px;
    text-align: center;
}
.boxSubtitulo{
    font-family: 'Times New Roman', Times, serif;
    color: palevioletred;
    font-size: 25px;
    text-align: center;
}
.boxParrafo{
    width: 100px;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    color: palevioletred;
    font-size: 20px;
    text-align: left;
}


.cuerpo{

}


.boxImagen{
    display: flexbox;
     height: 200px;
}
