    .contenedor {
        display: flex-end;
        flex-direction: row;
        width: 100%;
       flex-wrap: wrap; 
    }

    .fixture {
        flex-basis: 100%;
        margin: auto;
        margin-bottom: 1%;
        padding: 1%;
        background-color: white;
        border: 2px black solid;

    }

    .fila1{
        display: inline;
        width: auto;
        padding: 5%;
        padding-left: 40%; 
        padding-top: 1%;
        border: 2px black solid;
    }
    .ocultarA{
        display: none;
    }
.div-aux{
    display: inline;
    flex-basis: 50%;
    margin: 10%;
        padding: 1%;
        padding-left: 12%;
    }

    .footer {
        display: inline;
        align-content: space-between;
        border: 2px black solid;
        flex-wrap: wrap;
        margin-top: 1%;
        border: 2px black solid;
    }


    @media only screen and(max-width:660px) {
.ocultarA{
    display: none;
}
    }
