body{
    background-color: pink;
}
.contenedor1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% ;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: purple;
    padding: 2%;
    border: 5px solid purple;
}

.encabezado {
    width: 100%;
    margin: 1%;
    padding: 1%;
    text-align: left;
    font-style: normal;
    border: 5%;
    border-radius: 10%;
    border: solid purple;

}

.imagenLogo {
    width: 10%;
    margin: 0% auto;
    padding: 1%;
    padding-left: 10%;
    padding-top: 5%;
    justify-content: left;

}

.menu {
    width: auto;
    text-shadow: 35%;
    align-self: stretch;
    text-align: right;
    margin: 1%;
    padding: -1%;
    padding-left: 60%;
}

.menu2 {
    width: auto;
    text-shadow: 35%;
    align-items: stretch;
    text-align: right;
    margin: 1%;
    padding: -1%;
    padding-left: 60%;


}

.subtitulo {
    width: 65%;
    margin: 1%;
    padding: 5%;
    color: darkgray;
}

.introduccion {
    width: 55%;
    text-align: left center;
    padding: 1%;
    margin: auto;
    margin-right: 95%;
    font-style: italic;
}
.resaltar{
    color: purple;
    font-style: initial oblique;
    text-shadow: 30%;
}


.imagen1 {
    text-align: center;
    width: 15%;
    height: auto;
    margin: 0%;
    margin-left: 25%;
    margin-bottom: 70%;
    margin-top: -25%;
}

.contenedor2 {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1%;
}

.parrafo1 {
    text-align: left justify;
    width: 60%;
    margin: 0%;
    font-style: oblique;
    padding: 3%;
}
.div-izq{
    text-align: start;
    width: 45%;
    margin: -1%
    color: purple;
    text-align: left;
}
.div-centro{
    text-align: center;
}
.div-der{
    text-align: right;
}

.imagen2 {
    justify-content: flex-end;
    width: 50%;
}