body {
    background-color: palevioletred;
}

.contenedor {
    position: relative;
    display: flex;
    justify-content: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.contenedor title {
    display: inline;
    padding-left: 35%;
    width: 40%;
    color: blue;
}

.contenedor form {
    position: absolute;
    top: 50%;
    padding-top: 10%;
}

.contenedor label {
    display: block;
    padding-top: 2%;
    width: 15%;
    color: rgb(2, 46, 129);
}

.contenedor input {
    background-color: rgb(135, 135, 240);
}

.hijo {
    margin: 0%;
}