body{
    background-color: palevioletred;
}
.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.contenedor title{
    display: inline;
    text-align: center; 
    color: blue;
    }
 .contenedor form{
    display: inline-block;
    order: -1;
    padding-top: 10%;
 }
    
.contenedor label{
    display: block;
    padding-top: 2%;
    width: 15%;
    color: rgb(2, 46, 129);
}
.contenedor input{
    background-color: rgb(135, 135, 240);
}
.hijo{
    margin: 0%;
}