p{
    color: black;
    font-size: 50;
    background-color: bisque;
}
    
.violeta {
    color: violet

}

#parrafoPrincipal {
    color: black;
text-align: left;
}

#identif {
    color: blueviolet;
}