p{
    color: black;
    font-size: 50;
    background-color: bisque;
    text-align: justify;
}
    
.violeta {
    background-color: violet;

}

#parrafoPrincipal {
    color: black;
text-align: left;
}

#identif {
    color: blueviolet;
}