div > p {   background-color: yellow; 
}  

div + h2 {   background-color: red;   
}


div ~ h2 {   background-color: orange;  
}


p span { color: blue; 
}




 .boton:hover {
   background-color: red;
 }